<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<form action="insert" method="post">
	<table>
		<tr>
			<td>
				<input name="title" type="text" placeholder="제목입력">
			</td>
		</tr>
		<tr>
			<td>
				<input name="writer" type="text" placeholder="작성자 입력">
			</td>
		</tr>
		<tr>
			<td>
				<textarea name="content" rows="text" placeholder="내용 입력"></textarea>
			</td>
		</tr>
		<tr>
			<td>
				<button type="submit">작성하기</button>
			</td>
		</tr>
		

	</table>
	
	</form>

</body>
</html>